<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHospital">
        <activity android:name=".NFCReadCard" />
        <activity android:name=".PatientNFC" />
        <activity android:name=".HospitalChangeEmail" />
        <activity android:name=".UpdateMedicalRecord" />
        <activity android:name=".PatientListShowMedicalRecord" />
        <activity android:name=".MedicalRecordList" />
        <activity android:name=".AddMedicalRecord" />
        <activity android:name=".PatientListAddMedicalRecord" />
        <activity android:name=".PatientListDoctor" />
        <activity android:name=".PatientChangeEmail" />
        <activity android:name=".PatientEditProfile" />
        <activity android:name=".DoctorChangeEmail" />
        <activity android:name=".MedicalRecordPatient" />
        <activity android:name=".PatientChangePassword" />
        <activity android:name=".PatientPage" />
        <activity android:name=".PatientRegistration" />
        <activity android:name=".DoctorChangePassword" />
        <activity android:name=".DoctorEditProfile" />
        <activity android:name=".PatientListHospital" />
        <activity android:name=".DoctorListHospital" />
        <activity android:name=".DoctorRegistration" />
        <activity android:name=".HospitalChangePassword" />
        <activity android:name=".HospitalEditProfile" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".HospitalPage" />
        <activity android:name=".DoctorPage" />
        <activity android:name=".FingerPrintScan" />
        <activity android:name=".Login" />
        <activity android:name=".HospitalRegistration" />
        <activity android:name=".HospitalListAddDoctor" />
        <activity android:name=".CheckUniqueCode" />
        <activity android:name=".LoginBy" />
        <activity android:name=".ContactUsForm" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>